.section-hero {
  min-height: 75px;

  @media (min-width: 500px) {
    min-height: 110px;
  }
}

.section {
  padding-bottom: 0;
}

.section-lg {
  padding-bottom: 0;
  @media (max-width: 500px) {
    padding-top: 4.5rem;
  }
}

.title {
  top: -10px;
  margin-bottom: -25px;

  @media (min-width: 768px) {
    top: -20px;
    margin-bottom: -42px;
  }
}

.section-shaped .shape {
  height: 98%;
  @media (min-width: 410px) {
    height: 100%;
  }
}

.padding-top {
  padding-top: 4.5rem;

  @media (max-width: 991px) {
    padding: 0.2rem;
  }
}

.padding-2 {
  @media (max-width: 991px) {
    padding: 1rem;
  }
}

//image
.img-size-1 {
  width: 40%;

  @media (min-width: 400px) {
    width: 30%;
  }
  @media (min-width: 500px) {
    width: 20%;
  }
  @media (min-width: 992px) {
    width: 55%;
  }
}

.backgroundImage {
  background-image: url("../../assets/img/brand/sport-4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 2rem;
  padding: 7rem;
  @media (max-width: 991px) {
    padding: 1rem;
  }
  padding-bottom: 1rem;
  margin-top: -0.3rem;
}

//text
.display-2 {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5;
  @media (min-width: 460px) {
    font-size: 1rem;
  }

  @media (min-width: 537px) {
    font-size: 1.4rem;
  }

  @media (min-width: 768px) {
    font-size: 1.9rem;
  }

  @media (min-width: 1200px) {
    font-size: 2.3rem;
  }
}

.display-3 {
  padding: 10px;
  font-size: 1rem;
  @media (min-width: 1090px) {
    font-size: 1.1rem;
  }
  @media (min-width: 1200px) {
    font-size: 1.2rem;
  }
}
//shadow
.text-shadow {
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3), 0 2px 10px rgba(0, 0, 0, 0.3);
}

.text-shadow-2 {
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.753), 0 2px 10px rgba(0, 0, 0, 0.795);
}
//annim
.up-annim :hover {
  transition: all 0.15s ease;
  transform: translateY(-20px);
}

//border
.black-border {
  margin-top: -3px;
  margin-bottom: 0.3rem;
  height: 10px;
  width: 100%;
  background-color: black;

  @media (max-width: 1200px) {
    height: 8px;
  }

  @media (max-width: 767px) {
    height: 6px;
  }
  @media (max-width: 535px) {
    height: 4px;
  }
  @media (max-width: 375px) {
    height: 3px;
  }
}
