<main>
  <section class="section section-lg section-hero section-shaped">
    <!-- Background -->
    <div class="shape shape-style-1 shape-primary"></div>
    <!-- Bande noir en Haut -->
  </section>
  <div class="black-border"></div>
  <!-- Titre -->
  <div class="container shape-container d-flex align-items-start">
    <div class="col px-0">
      <div class="row align-items-start justify-content-start">
        <div class="col-lg-12 text-center">
          <h2 class="display-2 text-darker">GCU</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="black-border"></div>
  <div class="padding-bottom-2 padding-home">
    <div class="container shape-container d-flex align-items-start">
      <div class="col px-0">
        <div class="row align-items-center justify-content-center">
          <div class="col-lg-12 text-justify padding-bottom text-darker">
            <br /><br />
            <h5 class="display-2">1. Objet</h5>
            <p>
              Yorgo est une plateforme de mise en relation de sportifs
              accessible sous forme d’application mobile. Elle est destinée à
              mettre en relation des sportifs voulant faire du sport à plusieurs
              ainsi qu’a partager du contenu lié au sport.<br /><br />
              En vous inscrivant, vous reconnaissez avoir pris connaissance et
              accepter l’intégralité des conditions générales d’utilisation de
              Yorgo.
            </p>
            <br />
            <h5 class="display-2">2. Vocabulaire utilisé</h5>
            <p>
              Yorgo : Il s’agit du nom de l’application.<br /><br />Plateforme :
              il s’agit de l'application mobile accessible depuis iOS ou
              Android.<br /><br />CGU : Il s’agit des conditions générales
              d’utilisations de la plateforme.<br /><br />Politique de
              confidentialité : La politique de confidentialité explique de
              quelles manières sont utilisées vos données personnelles.<br /><br />Annonce
              : une annonce est considérée comme une proposition d’activité
              sportive par un membre et pour d’autres.
            </p>
            <br />
            <h5 class="display-2">3. Comment s’inscrire à Yorgo</h5>
            <h5 class="display-3">
              3.1. Conditions d’inscription à la Plateforme
            </h5>
            <p>
              L’utilisation de Plateforme est réservée aux personnes physiques
              âgées de 18 ans ou plus. En accédant, utilisant ou vous inscrivant
              sur la Plateforme, vous déclarez et garantissez avoir 18 ans ou
              plus.
            </p>

            <h5 class="display-3">3.2. Création de Compte</h5>
            <p>
              La Plateforme permet aux Membres de publier des Annonces
              d’activités sportives et de consulter l’actualité sportive
              partagée par les autres membres ainsi que d’interagir entre eux
              suivant le contenu proposé. Il est nécessaire de créer un compte
              pour visualiser les activités proposées.<br /><br />
              Pour créer votre Compte, vous pouvez :<br />
              Soit remplir l’ensemble des champs obligatoires figurant sur le
              formulaire d’inscription ;<br />
              Soit vous connecter, via notre Plateforme, à votre compte Facebook
              (ci-après, votre « Compte Facebook »). En utilisant une telle
              fonctionnalité, vous comprenez que Yorgo aura accès, publiera sur
              la Plateforme et conservera certaines informations de votre Compte
              Facebook. Vous pouvez à tout moment supprimer le lien entre votre
              Compte et votre Compte Facebook par l’intermédiaire de la rubrique
              « Vérifications » de votre profil. Si vous souhaitez en savoir
              plus sur l’utilisation de vos données dans le cadre de votre
              Compte Facebook, consultez notre Politique de Confidentialité et
              celle de Facebook.<br /><br />
              Pour vous inscrire sur la Plateforme, vous devez avoir lu et
              accepter les présentes CGU ainsi que la Politique de
              Confidentialité.<br /><br />
              À l’occasion de la création de votre Compte, vous vous engagez à
              fournir des informations personnelles exactes et conformes à la
              réalité et à les mettre à jour, par l’intermédiaire de votre
              profil, afin d’en garantir la pertinence et l’exactitude tout au
              long de votre relation contractuelle avec Yorgo.<br /><br />
              Vous êtes seul responsable de l’utilisation faite de votre Compte
              par un tiers, tant que vous n’avez pas expressément notifié Yorgo
              de la perte, l’utilisation frauduleuse par un tiers ou la
              divulgation de votre mot de passe à un tiers.<br /><br />
              Vous vous engagez à ne pas créer ou utiliser, sous votre propre
              identité ou celle d’un tiers, d’autres Comptes que celui
              initialement créé.
            </p>

            <h5 class="display-3">3.3. Vérification</h5>
            <p>
              Yorgo peut, à des fins de transparence, d’amélioration de la
              confiance, ou de prévention ou détection des fraudes, mettre en
              place un système de vérification de certaines des informations que
              vous fournissez sur votre profil. Yorgo ne garantit ni la
              véracité, ni la fiabilité, ni la validité de l’information ayant
              fait l’objet de la procédure de vérification.
            </p>
            <br />
            <h5 class="display-2">4. Utilisation du service</h5>
            <p>En cours d'écriture...</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
