<main>
  <section class="section section-lg section-hero section-shaped">
    <!-- Background -->
    <div class="shape shape-style-1 shape-primary"></div>
    <!-- Bande noir en Haut -->
    <div class="black-border"></div>
  </section>
  <!-- Titre -->
  <div class="container shape-container d-flex align-items-start">
    <div class="col px-0">
      <div class="row align-items-start justify-content-start">
        <div class="col-lg-12 text-center">
          <h2 class="display-2 text-darker">
            Une question ? Une idée ? Une suggestion ? On vous écoute !
          </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="black-border"></div>
  <div class="backgroundImage">
    <div class="padding-bottom-2 padding-home">
      <div class="container shape-container d-flex align-items-start">
        <div class="col px-0">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-3 text-center padding-bottom">
              <div class="up-annim">
                <a
                  target="_blank"
                  href="https://www.messenger.com/t/109337114775327"
                >
                  <img
                    src="./assets/img/brand/facebook.png"
                    alt="Rounded image"
                    class="img-fluid rounded-circle shadow img-size-1"
                  />
                </a>
              </div>
              <h2 class="display-3 text-white text-shadow">@YORGOHELLO</h2>
            </div>
            <div class="col-lg-3 text-center padding-bottom">
              <div class="up-annim">
                <a
                  target="_blank"
                  href="https://www.instagram.com/direct/t/340282366841710300949128154074961757509?hl=fr"
                >
                  <img
                    src="./assets/img/brand/instagram.png"
                    alt="Rounded image"
                    class="img-fluid rounded-circle shadow img-size-1"
                  />
                </a>
              </div>
              <h2 class="display-3 text-white text-shadow">@HELLO_YORGO</h2>
            </div>
            <div class="col-lg-3 text-center padding-bottom">
              <div class="up-annim">
                <a
                  target="_blank"
                  href="https://www.linkedin.com/company/yorgo/"
                >
                  <img
                    src="./assets/img/brand/linkedin.png"
                    alt="Rounded image"
                    class="img-fluid rounded-circle shadow img-size-1"
                  />
                </a>
              </div>
              <h2 class="display-3 text-white text-shadow">Yorgo</h2>
            </div>
            <div class="col-lg-3 text-center padding-bottom">
              <div class="up-annim">
                <a target="_blank" href="mailto:helloyorgo@gmail.com">
                  <img
                    src="./assets/img/brand/gmail.png"
                    alt="Rounded image"
                    class="img-fluid rounded-circle shadow img-size-1"
                  />
                </a>
              </div>
              <h2 class="display-3 text-white text-shadow">
                helloyorgo@gmail.com
              </h2>
            </div>
          </div>
          <div class="col-lg-12 text-center">
            <h1 class="display-2 text-white padding-top text-shadow-2">
              ON VOUS RÉPOND!
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
