//position and padding, marging, ...
.section-hero {
  @media (min-width: 768px) {
    min-height: 0;
  }
}

.section-lg {
  padding-bottom: 0;
  @media (max-width: 500px) {
    padding-top: 4rem;
  }
}

.section {
  padding-bottom: 0;
}

.title {
  top: 0px;
  margin-bottom: -10px;

  @media (min-width: 1200px) {
    top: -27px;
    margin-bottom: -42px;
  }

  @media (min-width: 767px) {
    top: -8px;
    margin-bottom: -20px;
  }
}

.p-t-60 {
  padding-top: 30px;
  padding-bottom: 30px;
  @media (min-width: 992px) {
    padding-top: 60px;
  }
}

.padding-section {
  padding: 1rem;
  padding-top: 2.5rem;
}

.section-shaped .shape {
  height: 98%;
  @media (min-width: 410px) {
    height: 100%;
  }
}
.padding-profile {
  padding-top: 2rem;
}

.padding-profile-text {
  padding-bottom: 10rem;
  @media (max-width: 991px) {
    padding-bottom: 1rem;
  }
}

.padding-profile-text-2 {
  padding-bottom: 10rem;
  @media (max-width: 1200px) {
    padding-bottom: 7rem;
  }
  @media (max-width: 991px) {
    padding-bottom: 1rem;
  }
}

//background
.background-blue {
  margin-top: -2px;
  background-color: #3d92c2;
}

.title-background {
  background-color: white;
  transform: skew(0, -1.4deg);
  margin-top: -8.5px;
}

.fill-blue {
  fill: #3d92c2;
}

//image
.img-fluid {
  max-width: 90%;
}

.backgroundImage {
  background-image: url("../../assets/img/brand/sport-4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 7rem;
}

//text
.display-1 {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.5;
  @media (min-width: 400px) {
    font-size: 2.2rem;
  }

  @media (min-width: 537px) {
    font-size: 2.4rem;
  }

  @media (min-width: 768px) {
    font-size: 2.9rem;
  }

  @media (min-width: 1200px) {
    font-size: 3.5rem;
  }
}

.display-3 {
  padding: 10px;
  font-size: 1rem;
  @media (min-width: 460px) {
    font-size: 1.4rem;
  }
  @media (min-width: 1200px) {
    font-size: 1.7rem;
  }
}

h5 {
  font-size: 1.4rem;
  @media (max-width: 991px) {
    font-size: 1.2rem;
  }
  @media (max-width: 489px) {
    font-size: 1rem;
  }
}
//shadow
.shadow-2 {
  box-shadow: 0 5px 2px rgb(0 0 0 / 63%), 0 2px 10px rgb(0 0 0) !important;
}

.text-shadow {
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.753), 0 2px 10px rgba(0, 0, 0, 0.795);
}

//border
.black-border {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  height: 12px;
  width: 100%;
  background-color: black;

  @media (max-width: 1200px) {
    height: 8px;
  }

  @media (max-width: 767px) {
    height: 5px;
  }
  @media (max-width: 535px) {
    height: 3px;
  }
  @media (max-width: 375px) {
    height: 2.8px;
  }
}

p {
  font-size: 1.2rem;

  @media (max-width: 1200px) {
    font-size: 1rem;
  }
}

//Special format
.image-left {
  width: 50%;
  height: 600px;
  float: left;
  background-image: url("../../assets/img/brand/sport-6.jpg");
  background-size: cover;
  background-position: center;
  @media (max-width: 991px) {
    width: 100%;
  }
  @media (max-width: 1200px) {
    height: 520px;
  }
  @media (max-width: 768px) {
    display: none;
  }
}
.content-right {
  width: 50%;
  @media (max-width: 991px) {
    width: 100%;
  }
  @media (max-width: 1200px) {
    height: 520px;
  }
  @media (max-width: 768px) {
    height: auto;
  }
  float: right;
  height: 600px;
  background-color: white;
}

.back-marging {
  margin-top: -10px;
  background-color: white;
  @media (max-width: 991px) {
    margin-top: -30px;
  }
}

.text-change-format {
  @media (max-width: 991px) {
    display: none;
  }
}

.text-change-format-2 {
  @media (min-width: 992px) {
    display: none;
  }
}

//anim
.up-annim :hover {
  transition: all 0.15s ease;
  transform: translateY(-20px);
}
