<main>
  <section class="section section-lg section-hero section-shaped">
    <!-- Background -->
    <div class="shape shape-style-1 shape-primary"></div>
    <!-- Bande noir en Haut -->
    <svg
      x="0"
      y="0"
      viewBox="0 0 3000 100"
      preserveAspectRatio="none"
      class="rect-yorgo"
    >
      <polygon class="fill-black" points="3000,0 3000,100 0,100 0,80"></polygon>
      <polygon class="fill-white" points="3000,20 3000,100 20,100"></polygon>
    </svg>
  </section>
  <!-- Titre -->
  <div class="title-background">
    <div class="container shape-container d-flex align-items-start">
      <div class="col px-0">
        <div class="row align-items-start justify-content-start">
          <div class="col-lg-12 text-center title">
            <h2 class="display-1 text-darker">
              AVENTURE YORGO <i class="fas fa-medal"></i>
            </h2>
          </div>
        </div>
      </div>
    </div>
    <div class="black-border"></div>
  </div>
  <!-- Content-->
  <div class="back-marging">
    <div class="image-left"></div>
    <div class="padding-section content-right">
      <div class="container shape-container d-flex align-items-start">
        <div class="col px-0">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-12 padding-bottom"></div>
            <div class="col-lg-12 text-justify">
              <p class="text-darkner">
                Nous sommes Alexandre Pattyn et Clément Even, deux amis de
                longue date, passionnés de sport et de partage. En avril 2021,
                nous avons fait le choix de nous lancer ensemble dans
                <strong>l’aventure Yorgo.</strong>
                <br />
                <br />
                Notre projet ? Proposer à chacun d’entre vous ce dont nous
                avions nous même besoin :
                <strong>
                  une application qui nous permet de nous rencontrer, de
                  partager et d’échanger.
                </strong>
                Nous sommes convaincu que le sport c’est avant tout une
                expérience, et que les expériences, ça se partage.
                <br />
                <br />
                Alors nous voilà en route ! Clément derrière les lignes de code
                et Alexandre imaginant comment cette aventure peut elle devenir
                plus grande et plus intense.
                <br />
                <br />
                L’aventure Yorgo ne fait que commencer, nous vous préparons
                plein de belles choses pour la suite.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="background-blue">
    <div
      class="container shape-container d-flex align-items-start padding-section"
    >
      <div class="col px-0">
        <div class="row align-items-center justify-content-center text-center">
          <div class="col-lg-8 text-center">
            <h5 class="text-white padding-profile-text text-change-format">
              « J’adore le KiteSurf et la planche a voile, mais ce qui est
              dommage, c’est que quand on est tout seul, personne ne peut nous
              venir en aide en cas de pépin !  Avec Yorgo, je peux trouver des
              partenaires pour partager des sessions plus sereinement »
            </h5>
          </div>
          <div class="col-lg-4 padding-bottom">
            <img
              src="./assets/img/brand/clement.jpg"
              alt="Rounded image"
              class="img-fluid rounded-circle shadow"
            />
            <div class="padding-profile">
              <h1 class="text-white"><strong>CLÉMENT</strong></h1>
              <p class="text-white">Développeur WEB / Application mobile</p>
            </div>
          </div>
          <div class="col-lg-8 text-center text-change-format-2">
            <h5 class="text-white padding-profile-text">
              « J’adore le KiteSurf et la planche a voile, mais ce qui est
              dommage, c’est que quand on est tout seul, personne ne peut nous
              venir en aide en cas de pépin !  Avec Yorgo, je peux trouver des
              partenaires pour partager des sessions plus sereinement »
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Alexandre -->
  <div>
    <div
      class="container shape-container d-flex align-items-start padding-section"
    >
      <div class="col px-0">
        <div class="row align-items-center justify-content-center text-center">
          <div class="col-lg-4 padding-bottom">
            <img
              src="./assets/img/brand/alexandre.jpg"
              alt="Rounded image"
              class="img-fluid rounded-circle shadow"
            />
            <div class="padding-profile">
              <h1 class="text-darkner"><strong>ALEXANDRE</strong></h1>
              <p class="text-darkner">Chargé marketing / Communication</p>
            </div>
          </div>
          <div class="col-lg-8 text-center">
            <h5 class="text-darkner padding-profile-text-2">
              « Moi je cours beaucoup ! Courir en groupe m’aide à booster ma
              motivation : aussi bien pour sortir de chez moi que pour pousser
              l’effort un peu plus loin. Que ce soit dans la progression ou
              simplement dans le plaisir, être plusieurs permet de faire les
              choses différemment ! »
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
