.family {
  font-size: 1.5rem;
}
.headroom--not-top {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  background-color: #3d92c2 !important;
  box-shadow: 0 5px 6px rgb(0 0 0 / 70%);
}

#navbar_global {
  margin: 0;
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 14px;
  width: 100%;
  border-radius: unset;
  justify-content: flex-end;
}

@media (max-width: 991.98px) {
  .close-button {
    color: white;
    background: #3d92c2;
    padding: 15px;
  }
  .navbar-collapse .collapse-close {
    text-align: center;
  }

  .navbar-collapse .navbar-toggler {
    width: 30px;
    height: 30px;
  }
  .navbar-collapse .navbar-toggler span {
    background: #ffffff;
    height: 4px;
  }
}

.mr-lg-5,
.mx-lg-5 {
  margin-right: 0rem !important;
}

.headroom--unpinned {
  transform: translateY(0%);
}
