<nav
  id="navbar-main"
  class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned"
>
  <div class="container">
    <a class="navbar-brand mr-lg-5" [routerLink]="['/accueil']">
      <img
        src="./assets/img/brand/YORGO_logo.png"
        class="rounded-circle shadow"
      />
    </a>
    <button
      class="navbar-toggler no-border"
      type="button"
      (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed"
      aria-controls="navbar_global"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="navbar-collapse collapse"
      id="navbar_global"
      [ngbCollapse]="isCollapsed"
    >
      <ul class="navbar-nav">
        <li></li>
        <li [routerLink]="['/accueil']">
          <a
            class="nav-link click-pointer"
            role="button"
            [ngClass]="{
              'nav-selected': isSameURL('/accueil') && !isCollapsed
            }"
          >
            <i class="fas fa-home d-lg-none"></i>
            <span class="nav-link-inner--text family">Accueil</span>
          </a>
        </li>
        <li [routerLink]="['/communaute']">
          <a
            class="nav-link no-caret click-pointer"
            [ngClass]="{
              'nav-selected': isSameURL('/communaute') && !isCollapsed
            }"
            role="button"
          >
            <i class="fas fa-universal-access d-lg-none"></i>
            <span class="nav-link-inner--text family">Communauté</span>
          </a>
        </li>
        <li [routerLink]="['/qui-sommes-nous']">
          <a
            class="nav-link no-caret click-pointer"
            [ngClass]="{
              'nav-selected': isSameURL('/qui-sommes-nous') && !isCollapsed
            }"
            role="button"
          >
            <i class="far fa-question-circle d-lg-none"></i>
            <span class="nav-link-inner--text family">Qui sommes nous ?</span>
          </a>
        </li>
        <li [routerLink]="['/contact']">
          <a
            class="nav-link no-caret click-pointer"
            [ngClass]="{
              'nav-selected': isSameURL('/contact') && !isCollapsed
            }"
            role="button"
          >
            <i class="fas fa-envelope d-lg-none"></i>
            <span class="nav-link-inner--text family">Contact</span>
          </a>
        </li>
        <li (click)="isCollapsed = !isCollapsed">
          <div class="row close-button">
            <div class="col-12 collapse-close">
              <button
                type="button"
                class="navbar-toggler"
                [attr.aria-expanded]="!isCollapsed"
                aria-controls="navbar_global"
              >
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
