<nav
  id="navbar-main"
  class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned"
>
  <div class="container">
    <a class="navbar-brand mr-lg-5" [routerLink]="['/accueil']">
      <img
        src="./assets/img/brand/YORGO_logo.png"
        class="img-fluid rounded-circle shadow"
        style="height: 80px"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed"
      aria-controls="navbar_global"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="navbar-collapse collapse"
      id="navbar_global"
      [ngbCollapse]="isCollapsed"
    >
      <ul class="navbar-nav">
        <li></li>
        <li>
          <a class="nav-link" role="button">
            <i class="fas fa-home d-lg-none"></i>
            <span
              [routerLink]="['/accueil']"
              class="nav-link-inner--text family"
              >Accueil</span
            >
          </a>
        </li>
        <li>
          <a class="nav-link no-caret" role="button">
            <i class="fas fa-universal-access d-lg-none"></i>
            <span
              [routerLink]="['/communaute']"
              class="nav-link-inner--text family"
              >Communauté</span
            >
          </a>
        </li>
        <li>
          <a class="nav-link no-caret" role="button">
            <i class="far fa-question-circle d-lg-none"></i>
            <span
              [routerLink]="['/qui-sommes-nous']"
              class="nav-link-inner--text family"
              >Qui sommes nous ?</span
            >
          </a>
        </li>
        <li>
          <a class="nav-link no-caret" role="button">
            <i class="fas fa-envelope d-lg-none"></i>
            <span
              [routerLink]="['/contact']"
              class="nav-link-inner--text family"
              >Contact</span
            >
          </a>
        </li>
        <li>
          <div class="row close-button">
            <div class="col-12 collapse-close">
              <button
                type="button"
                class="navbar-toggler"
                (click)="isCollapsed = !isCollapsed"
                [attr.aria-expanded]="!isCollapsed"
                aria-controls="navbar_global"
              >
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
