<main>
  <section class="section section-lg section-hero section-shaped">
    <!-- Background -->
    <div class="shape shape-style-1 shape-primary"></div>
    <!-- Bande noir en Haut -->
    <svg
      x="0"
      y="0"
      viewBox="0 0 3000 150"
      preserveAspectRatio="none"
      class="rect-yorgo"
    >
      <polygon
        class="fill-black"
        points="3000,0 3000,150 0,150 0,130"
      ></polygon>
      <polygon class="fill-white" points="3000,20 3000,150 20,150"></polygon>
    </svg>
  </section>
  <!-- Titre -->
  <div class="container shape-container d-flex align-items-start">
    <div class="col px-0">
      <div class="row align-items-start justify-content-start">
        <div class="col-lg-12 text-center title">
          <h2 class="display-2 text-darker rotate-3">
            PARCE QUE LE PARTAGE PASSE PAR LA CRÉATION DE LIEN SOCIAL, NOUS
            AVONS CRÉÉE YORGO !
          </h2>
        </div>
      </div>
    </div>
  </div>
  <svg x="0" y="0" viewBox="0 0 3000 150" preserveAspectRatio="none">
    <polygon class="fill-white" points="3000,0 0,0 0,150"></polygon>
    <polygon class="fill-black" points="3000,0 3000,150 0,150 0,130"></polygon>
    <polygon class="fill-blue" points="3000,20 3000,150 20,150"></polygon>
  </svg>
  <!-- Content-->
  <div class="background-blue padding-section">
    <div class="container shape-container d-flex align-items-start">
      <div class="col px-0">
        <div class="row align-items-center justify-content-center">
          <div class="col-lg-6 padding-bottom">
            <img
              src="./assets/img/brand/sport-5.jpg"
              alt="Rounded image"
              class="img-fluid rounded shadow"
            />
          </div>
          <div class="col-lg-6 text-center">
            <h3 class="display-3 text-white">REJOINS LA COMMUNAUTÉ YORGO</h3>
            <h5 class="text-white">
              Créer ton propre réseau !<br />
              Anime le et développe ton cercle de relation.<br /><br />

              Tout ça, ce n’est pas juste « faire du sport à plusieurs »
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 3 Ronds motiv, rencontre, partage -->
  <div class="backgroundImage">
    <svg
      x="0"
      y="0"
      viewBox="0 0 3000 200"
      preserveAspectRatio="none"
      class="m-t-6-"
    >
      <polygon class="fill-blue" points="0,0 3000,0 3000,200"></polygon>
    </svg>
    <div
      class="padding-section-b padding-section-t-2 container shape-container d-flex align-items-start"
    >
      <div class="col px-0">
        <div class="row align-items-center justify-content-center">
          <div class="col-lg-12 text-center padding-section-b">
            <h2 class="display-2 text-white text-shadow">
              Notre communauté en quelques chiffres
            </h2>
          </div>
          <div class="col-lg-3 text-center padding-bottom">
            <div class="up-annim">
              <img
                src="./assets/img/brand/coeur.png"
                alt="Rounded image"
                class="m-w-70 rounded-circle shadow-2 img-size-1"
              />
            </div>
            <h2 class="display-2 p-t-60 text-white text-shadow">
              0 <br />
              MEMBRE
            </h2>
          </div>
          <div class="col-lg-1"></div>
          <div class="col-lg-3 text-center padding-bottom">
            <div class="up-annim">
              <img
                src="./assets/img/brand/velo.png"
                alt="Rounded image"
                class="m-w-70 rounded-circle shadow-2 img-size-1"
              />
            </div>
            <h2 class="display-2 p-t-60 text-white text-shadow">
              1 <br />
              FAN
            </h2>
          </div>
          <div class="col-lg-1"></div>
          <div class="col-lg-3 text-center padding-bottom">
            <div class="up-annim">
              <img
                src="./assets/img/brand/graphique-croissant.png"
                alt="Rounded image"
                class="m-w-70 rounded-circle shadow-2 img-size-1"
              />
            </div>
            <h2 class="display-2 p-t-60 text-white text-center text-shadow">
              2 <br />
              CREATEUR
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
