//position and padding, marging, ...

.rect-yorgo {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.padding-home {
  padding-top: 1rem;
  @media (min-width: 992px) {
    padding-top: 4rem;
  }
}

.padding-section {
  padding: 4rem;
  @media (max-width: 992px) {
    padding: 2rem;
  }
}

.section-lg {
  @media (max-width: 992px) {
    padding-bottom: 3rem;
  }
}

.f-left {
  @media (min-width: 992px) {
    float: left;
  }
}

.f-right {
  @media (min-width: 992px) {
    float: right;
  }
}

.padding-bottom {
  padding-bottom: 1rem;
}

.padding-bottom-2 {
  padding-bottom: 3rem;
}

// background
.fill-blue {
  fill: #3d92c2;
}

.background-blue {
  padding-top: 2rem;
  background-color: #3d92c2;
}

// image
.img-size-1 {
  width: 35%;
  @media (min-width: 992px) {
    width: 40%;
  }
}

.img-home {
  z-index: 50;
  width: 40%;
  margin-right: 30%;
  margin-left: 30%;
  top: 20px;
  position: relative;
  padding: 10px;
  @media (min-width: 992px) {
    margin-right: 0;
    margin-left: 0;
    position: absolute;
    width: 90%;
    right: 0;
  }
  @media (min-width: 1200px) {
    margin-right: 0;
    margin-left: 0;
    position: absolute;
    width: 100%;
    right: 0;
  }
}

.img-store {
  width: 45%;
  @media (max-width: 991px) {
    width: 60%;
    padding-bottom: 1rem;
  }

  @media (max-width: 500px) {
    width: 90%;
  }
}

// display
.display-1 {
  font-size: 1.7rem;
  @media (min-width: 460px) {
    font-size: 2rem;
  }
  @media (min-width: 1200px) {
    font-size: 2.5rem;
  }
}

.display-2 {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.5;
  padding-top: 1rem;
  @media (min-width: 460px) {
    font-size: 2.4rem;
  }
  // @media (min-width: 1200px) {
  //   font-size: 2.3rem;
  // }
}

.display-3 {
  font-size: 1.7rem;
  @media (min-width: 460px) {
    font-size: 1.8rem;
  }
  @media (min-width: 1200px) {
    font-size: 2.2rem;
  }
}

.display-4 {
  font-size: 1.4rem;
  @media (min-width: 426px) {
    font-size: 1.7rem;
  }
  @media (min-width: 1200px) {
    font-size: 1.8rem;
  }
}

.display-4-2 {
  font-weight: bold;
  font-size: 1rem;
  @media (min-width: 426px) {
    font-size: 1.4rem;
  }
  @media (min-width: 1200px) {
    font-size: 1.6rem;
  }
}

h5 {
  font-size: 1rem;
  @media (min-width: 460px) {
    font-size: 1.2rem;
  }
  @media (min-width: 1200px) {
    font-size: 1.25rem;
  }
}

//annim
.up-annim :hover {
  transition: all 0.15s ease;
  transform: translateY(-20px);
}
