<main>
  <div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section section-lg section-hero section-shaped">
      <!-- Background circles -->
      <div class="shape shape-style-1 shape-primary">
        <span class="span-200"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div>
      <!-- Content HEADER -->
      <div
        class="container shape-container d-flex align-items-start padding-home"
      >
        <div class="col px-0">
          <div class="row align-items-start justify-content-start">
            <div class="col-lg-9 text-left">
              <h1 class="display-1 text-white">
                LE PREMIER RÉSEAU SOCIAL <br />
                DÉDIÉ AU SPORT
              </h1>
              <h4 class="display-4 text-white">
                Organise tes séances de sport à plusieurs, partage t’es
                meilleurs moments, actualise tes statistiques et boost ta
                motivation.
              </h4>
            </div>
            <div class="col-lg-3">
              <img
                src="./assets/img/brand/phone.png"
                alt="Rounded image"
                class="img-fluid img-home"
              />
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->

      <svg
        x="0"
        y="0"
        viewBox="0 0 3000 200"
        preserveAspectRatio="none"
        class="rect-yorgo"
      >
        <polygon
          class="fill-black"
          points="3000,0 3000,200 0,200 0,180"
        ></polygon>
        <polygon class="fill-white" points="3000,20 3000,200 20,200"></polygon>
      </svg>
    </section>
    <!-- Bande Téléchargement -->
    <div class="container shape-container d-flex align-items-start">
      <div class="col px-0">
        <div class="row align-items-start justify-content-start">
          <div class="col-lg-9 text-center">
            <h1 class="display-1 text-darker padding-bottom">
              TÉLÉCHARGE YORGO !
            </h1>
            <div>
              <img
                src="./assets/img/brand/google-2.png"
                class="img-store f-left"
                alt="image de lien Google Play"
              />
              <img
                src="./assets/img/brand/apple-2.png"
                class="img-store f-right"
                alt="image de lien Apple store"
              />
              <!-- <a href="https://github.com/"
                ><img
                  src="./assets/img/brand/google.png"
                  alt="image de lien Google Play"
              /></a>

              <a href="https://github.com/"
                ><img
                  src="./assets/img/brand/apple.png"
                  alt="image de lien Apple store"
              /></a> -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <svg x="0" y="0" viewBox="0 0 3000 200" preserveAspectRatio="none">
      <polygon class="fill-white" points="3000,0 0,0 0,200"></polygon>
      <polygon
        class="fill-black"
        points="3000,0 3000,200 0,200 0,180"
      ></polygon>
      <polygon class="fill-blue" points="3000,20 3000,200 20,200"></polygon>
    </svg>
  </div>
  <!-- Bande Motivation -->
  <div class="background-blue">
    <div class="container shape-container d-flex align-items-start">
      <div class="col px-0">
        <div class="row align-items-center justify-content-center">
          <div class="col-lg-6 text-center">
            <h3 class="display-3 text-white">BOOSTE TA MOTIVATION !</h3>
            <h5 class="display-5 text-white">
              Parlons sport, respirons sport, partageons sport.<br />
              Rien de telle qu’une bonne séance en groupe pour développer ses
              capacités et son cercle sociale.
            </h5>
          </div>
          <div class="col-lg-6 padding-bottom">
            <img
              src="./assets/img/brand/sport.jpg"
              alt="Rounded image"
              class="img-fluid rounded shadow"
            />
          </div>
        </div>
      </div>
    </div>
    <svg x="0" y="0" viewBox="0 0 3000 200" preserveAspectRatio="none">
      <polygon class="fill-white" points="3000,0 3000,200 0,200"></polygon>
    </svg>
  </div>

  <!-- 3 Ronds motiv, rencontre, partage -->
  <div class="padding-bottom-2 padding-home">
    <div class="container shape-container d-flex align-items-start">
      <div class="col px-0">
        <div class="row align-items-center justify-content-center">
          <div class="col-lg-4 text-center padding-bottom">
            <div class="up-annim">
              <img
                src="./assets/img/brand/muscle-du-bras.png"
                alt="Rounded image"
                class="img-fluid rounded-circle shadow img-size-1"
              />
            </div>
            <h2 class="display-2 text-darker">MOTIVATION</h2>
          </div>
          <div class="col-lg-4 text-center padding-bottom">
            <div class="up-annim">
              <img
                src="./assets/img/brand/poignee-de-main.png"
                alt="Rounded image"
                class="img-fluid rounded-circle shadow img-size-1"
              />
            </div>
            <h2 class="display-2 text-darker">RENCONTRE</h2>
          </div>
          <div class="col-lg-4 text-center padding-bottom">
            <div class="up-annim">
              <img
                src="./assets/img/brand/tape-men-cinq.png"
                alt="Rounded image"
                class="img-fluid rounded-circle shadow img-size-1"
              />
            </div>
            <h2 class="display-2 text-darker">PARTAGE</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Sport pour tous les sportifs -->
  <div
    class="container shape-container d-flex align-items-start padding-bottom-2"
  >
    <div class="col px-0">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-5 padding-bottom">
          <img
            src="./assets/img/brand/phone-2.png"
            alt="Rounded image"
            class="img-fluid"
          />
        </div>
        <div class="col-lg-7 text-center">
          <h3 class="display-3 text-darker">DU SPORT POUR TOUS LES SPORTIFS</h3>
          <h5 class="display-5 text-darker">
            Sport terrestre, à vélo, aquatique ou à balles, trouvez ce qui vous
            correspond sur Yorgo.
          </h5>
        </div>
      </div>
    </div>
  </div>
  <!-- ouiii -->
  <div class="background-blue">
    <div
      class="container shape-container d-flex align-items-start padding-section"
    >
      <div class="col px-0">
        <div class="row align-items-center justify-content-center">
          <div class="col-lg-6 text-center">
            <h3 class="display-4 text-white">
              UN RÉSEAU POUR LES SPORTIFS ET PAR LES SPORTIFS
            </h3>
            <h5 class="text-white">
              Suivez les activités et actualités de vos amis, faites vous votre
              propre réseau suivant vos envies, vos besoins et vos attentes.
            </h5>
          </div>
          <div class="col-lg-6 padding-bottom">
            <img
              src="./assets/img/brand/sport-2.jpg"
              alt="Rounded image"
              class="img-fluid rounded shadow"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Sport pour tous les sportifs -->
  <div
    class="container shape-container d-flex align-items-start padding-section"
  >
    <div class="col px-0">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-6 padding-bottom">
          <img
            src="./assets/img/brand/sport-3.jpg"
            alt="Rounded image"
            class="img-fluid rounded shadow"
          />
        </div>
        <div class="col-lg-6 text-center">
          <h3 class="display-4 text-darker">
            PARCE QUE LE SPORT CE N’EST PAS SIMPLEMENT DU SPORT
          </h3>
          <h6 class="text-darker">
            Créer ton propre réseau ! Anime le et développe ton cercle de
            relation.
            <br />
            <br />
            Tout ça, ce n’est pas juste « faire du sport à plusieurs »
          </h6>
        </div>
      </div>
    </div>
  </div>
</main>
